/* custom.css */
dl.class {
    margin-top: 20px;  /* Adjusts the space before each class entry */
}

dl.function {
    margin-bottom: 20px;  /* Adjusts the space after each function/method entry */
}
